*
{
	padding: 0;
	margin: 0;
}

.wrapper
{	
	width: 1300px;
	height: 900px;
	background: url('../img/bg-wrapper.jpg') no-repeat;
	margin: 0 auto;
}
.header
{
	width: 100%;
	padding-top: 135px;
	padding-bottom: 50px;
	text-align: center;
}
.header span
{
	font-size: 24px;
}
.helvetica
{
	font-family: "HelveticaNeue";
	color: #56585a;
	font-weight: bold;
}
.helvetica-bd
{
	font-family: "HelveticaNeueBd";
	color: #525252;
}
.article
{	
	position: relative;


}
.map-container
{
	width: 394px;
	border-radius: 5px;
	margin-left: 453px;
	background-color: #fff;
	display: block;
	border: 1px solid #bebebe;
	position: absolute;
}
.map-container-back4
{
	-webkit-box-shadow: -1px 5px 86px 4px rgba(16, 30, 104, 0.73);
	-moz-box-shadow:    -1px 5px 86px 4px rgba(16, 30, 104, 0.73);
	box-shadow:         -1px 5px 86px 4px rgba(16, 30, 104, 0.73);

}


.sign-up	
{	
	width: 100%;
	display: block;
	border-bottom: 1px solid #e4e4e4;
}
.sign-up-text
{	
	display: block;
	margin: auto;
	width: 334px;
	padding-top: 33px;
	padding-bottom: 20px;
}
.h1
{
	font-size: 22px;
	font-family: "HelveticaNeueBd";
	color: #464646;

}
.text-header
{
	color: #989898;
	font-family: "HelveticaNeue";
	font-size: 14px;
}
.main-container
{
	width: 337px;
	display: block;
	margin: auto;

	
}
.input-1
{	
	padding-top: 31px;
	padding-bottom: 27px;
}
.input-text-1
{	
	display: block;
	padding-bottom: 9px;
	font-size: 12px;
	font-family: "HelveticaNeue";
	font-weight: bold;
	color: #989898;
}
.input-form-1
{
	padding: 19px 0 17px 17px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2;
    border-image: none;
    font: bold 18px "HelveticaNeue";
}

.input-2
{
	padding-bottom: 27px;
}
.input-text-2
{	
	display: block;
	padding-bottom: 9px;
	font-size: 12px;
	font-family: "HelveticaNeue";
	font-weight: bold;
	color: #989898;
}
.input-form-2
{
	padding: 19px 0 17px 17px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2;
    border-image: none;
    font: bold 18px "HelveticaNeue";
}
.input-3
{
	padding-bottom: 27px;
}
.input-text-3
{	
	display: block;
	padding-bottom: 9px;
	font-size: 12px;
	font-family: "HelveticaNeue";
	font-weight: bold;
	color: #989898;
}
.input-form-3
{
	padding: 19px 0 17px 17px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2;
    border-image: none;
    font: bold 18px "HelveticaNeue";
}
.radio-press
{
	display: inline-block;
	width: 19px;
	height: 19px;
	border-radius: 100%;
	border: 1px solid #989898;
	cursor: pointer;
}
.radio
{
	display: none;
}
.radio:checked + .radio-press
{
	background:url('../img/checked.png') no-repeat;
	background-position: center;
}
.radio-accept
{
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
	padding-left: 4px;
	font-family: "HelveticaNeue";
	color: #989898;
	font-size: 12px;
}
.button-sign-up
{
	width: 118px;
	height: 45px;
	box-sizing: border-box;
	border: 1px solid #009bc9;
	border-radius: 2px;
	display: block;
	margin-top: 27px;
	color: #132e34;
	text-align: center;
	font-family: "HelveticaNeueBd";
	background: rgb(0, 200, 255);
	background: -moz-linear-gradient(270deg, rgb(0, 200, 255) 22%, rgb(41, 214, 255) 56%);
	background: -webkit-linear-gradient(270deg, rgb(0, 200, 255) 22%, rgb(41, 214, 255) 56%);
	background: -o-linear-gradient(270deg, rgb(0, 200, 255) 22%, rgb(41, 214, 255) 56%);
	background: -ms-linear-gradient(270deg, rgb(0, 200, 255) 22%, rgb(41, 214, 255) 56%);
	background: linear-gradient(0deg, rgb(0, 200, 255) 22%, rgb(41, 214, 255) 56%);
	cursor: pointer;
}
.button-sign-up:hover
{
	background: #147694;

}

.footer-container
{
	width: 394px;
	height: 28px;
}
.map
{
	height: 522px;
}
.map-container-back1
{
	z-index: 4;
}
.map-container-back2
{
	margin-top: 62px;
	z-index: 3;
}
.map-container-back3
{
	margin-top: 66px;
	z-index: 2;
}
.map-container-back4
{
	margin-top: 70px;
	z-index: 1;
}
@font-face
{
	font-family: "HelveticaNeue";
	src:url('../fonts/HelveticaNeue.ttf'); 
}
@font-face
{
	font-family: "HelveticaNeueBd";
	src:url('../fonts/HelveticaNeueBd.ttf');
}