html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] 
{
    font-family:'Hammersmith One', sans-serif;
    color: #031329; 
}
.l-box-lg
{
    padding-top: 4em;
}
.l-box
{
    padding-top: 2em;
}
.header 
{
    background-color: #2d3e50;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 4em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    position: fixed;
    width: 100%;
    top:0;
    z-index:10;
}
.welcome-blog
{
    color:#fff;
    padding: 1.36em 2em;   
    display: inline-block;
}
.header.open 
{
    height: 14em;
    z-index: 11;
    position: fixed;
    width: 100%;
    top:0;
    opacity: 0.8;
} 
.pure-menu-link
{
    padding: 1.36em 2em;
    color: #fff;
}
.pure-menu-link:focus,
.pure-menu-link:hover
{
    background-color: #000;
    color: #b2b2b2;
    transition: color 0.5s, background-color 2s;
}

.custom-menu-3 
{
    text-align: right;
}
      
.custom-toggle 
{
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    margin-top: 1em;
}
      
.custom-toggle .bar
{
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
      
.custom-toggle .bar:first-child 
{
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}
      
.custom-toggle.x .bar 
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-toggle.x .bar:first-child 
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.welcome-content
{
    width: 100%;
    height: 88%;
    opacity:;
    background: url('../img/bg-opacity.jpg')no-repeat center center;
    background-size: cover;
    position: fixed;
    z-index: 3;
}

.hello
{
    margin-top: 10em;
}

.line-hello-1
{
    width: 100%;
    height: 0.1em;
    background: #000;
    margin-top: 2.5em;
}
.border-p-1
{
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    
}
.hello-p-1
{
    font-size: 150%;
    color: #000;
    text-align: center;
}
.hello-right
{
    margin-top: 3em;
}
.position-hello
{
    margin-left: 75%;
}
.line-hello-right
{
    width: 0.15em;
    max-width: 0.15em;
    height: 10em;
    background: #000;
    display: block;
    margin-top: -10em;
}
.border-p-2
{
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    font-size: 150%;
    color: #000;
}
.bottom-part-hello-right
{
    margin-left: 60%;
}

.ask-content
{   
    margin-top: 2em;
    justify-content: center;
}

.ask-border p
{
    color: #000;
    font-size: 150%;
    text-align: center;
}
.choice-content
{
    margin-top: 2em;
}
.choice-content button
{
    border: 2px solid #000;
    background: none;
    border-radius: 10px;
}
.choice-button-1:hover
{
    background: rgba(100, 0, 0, 0.4);
    transition: background-color 1s;
}
.choice-button-2:hover
{
    background: rgba(1, 0, 3, 0.4);
    transition: background-color 0.5s;
}

.button-choice-1
{
    text-align: right;
}
.button-choice-2 button
{
   margin-left: 1em;
}
.hello-footer
{
    height: 20%;
}
.line
{
    margin: auto;
    width: 0.15em;
    max-width: 0.13em;
    height: 100%;
    background: #000;
}




.middle-content
{
    position: absolute;
    top: 88%;
    width: 100%;
    min-height: 12%;
    z-index: 7;
    background: url('../img/bg-middle.jpg') no-repeat center center;
    -webkit-background-size: cover ;
    background-size: cover ;
}
.middle-content h1
{
    font-size: 150%;
    color: #000;
    text-align: center;
}
.my
{
    color: #fff;
}
.gallery div
{
    text-align: center;
}
.gallery-item
{   
    display: inline-block;
    width: 250px;
    height: 250px;
    padding-bottom: 2.1rem;
    position: relative;
    cursor: pointer;
}
.modal-header h2 
{
    font-family: 'Hammersmith One', sans-serif;
    color: #031329;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
.modal .btn-close {
    color: #000;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal .btn-close:hover {
    color: red;
}
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
.modal-open:checked ~ .modal-wrap:before {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
.modal-dialog {
    background: #b1aeae;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 500px;
    z-index: 103;
}

.modal-body {
    padding: 20px;
    overflow: scroll;
    max-height: 300px;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 0.4em 0.4em;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}
.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}
.modal-body img { 
    max-width: 100%;
    height: auto;
    width: 100%;
    max-height: 100%;
}
.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}
.btn:hover, .btn:focus {
    background: #f2f2f2;
}
.btn-primary {
    background: none;
    border-color: #000;
    color: #000;
}
.btn-primary:hover{
    background: #928d8d;
}

.gallery-item-img
{
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.2s ease;

}
.gallery-item-img:hover
{
    filter: grayscale(0%);
}
.about-me-content
{
    background: url('../img/bg-about-me.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2em;
}
.first-a
{
    position: fixed;
    bottom: 120px;
    left: 1px; 
    cursor:pointer; 
    display:none;
    background: url('../img/sprite.png');
    background-position: -22px -155px;
    width: 2em;
    height: 2em;
    z-index: 15;
}
.second-a
{
    position: fixed; 
    bottom: 80px;  
    left: 1px; 
    cursor:pointer; 
    display:none;
    background: url('../img/sprite.png');
    background-position: 5px -155px;
    width: 2em;
    height: 2em;
    z-index: 14;
}
.second-a img
{
        width: 100%;
    height: 100%;
}
.find-me
{
    text-align: center;
    font-size: 200%;
    color: #fff;
    padding-top: 1em;
}
.find-me-p
{
    color: #fff;
    margin-left: 2em;
    padding-left: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 150%;
}
.find-me-p:hover
{
    background: rgba(1, 0, 3, 0.4);
    transition: background-color 0.5s;
}
.my-foto-icon
{
    display: block;
    width: 10em;
    max-width: 10em;
    height: 10em;
    border: 3px solid #000;
    border-radius: 50%;
    margin: 2em auto;
}
.my-foto-icon img
{
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.school-p
{
    padding: 0 1em;
}
.school-table
{
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}
.school-table:hover
{
    background: rgba(1, 0, 3, 0.4);
    transition: background-color 0.5s;
}
.school-table td
{
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 14px;
    padding-right: 23px;
    color: #fff;

}
.school-table tr
{
    text-align: center;
}
.main-tr
{
    font-size: 140%;
    font-family: 'Anton', sans-serif;

}
.tr td:last-child
{
    padding-right: 0px;
}
.tr td:first-child
{
    padding-left: 0px;
}

.contacts-container
{
    background: url('../img/bg-contacts.jpg') no-repeat 100% 100%;
    background-size: cover;
    -webkit-background-size: cover ;
    padding-bottom: 4em;

}
.tell-me
{
    color: #000;
    margin-top: 0px;
    text-align: center;
    padding-top: 1em;
}
.form-features
{
    text-align: center;
    color: #fff;
}
.form-features input
{
    margin: auto!important;
    color: #000;
}
.form-features textarea
{
    margin: auto;
    resize: none;
}
.button-l-box
{
    margin: 2em;
    background: none;
    color: #000;
    border: 2px solid #000;
    transition: color 0.3s ;
}
.button-l-box:hover
{
    color: #fff;
}

.contacts-details
{
    justify-content: center;
}

.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 15;
}
.text-sight-position
{
    text-align: right;
}

.text-sight p
{
    color: #fff;
    font-weight: lighter;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 1em;
    margin: 1.5em 0;
}
.text-sight
{
    display: inline-block;
}
.social
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 4em;
    margin-top: 0.7em;
}
.vk
{
    width: 3.2em;
    height: 3em;
    display: inline-block;
    border-radius: 50%;
    background: url('../img/spritesheet.png') 2px 0px;
    transition: all 0.5s ease
}
.vk:hover
{
    background-position: 2px -49px;
}
.facebook
{
    width: 3.2em;
    height: 3em;
    display: inline-block;
    margin-left: 0.5em;
    border-radius: 50%;
    background: url('../img/spritesheet.png') 2px 100px;
    transition: all 0.5s ease
}
.facebook:hover
{
    background-position: 2px 47px;
}




@media (max-width: 1166px)
{
    .choice-content
    {
        margin-top: -1em;
    }
}

@media (max-width: 1113px)
{
    .line-hello-1
    {
        margin-top: 3.5em;
    }
}


@media (max-width: 767.999px) 
{
      
    .custom-menu-3 
    {
        text-align: left;
    }
      
    .custom-toggle
    {
        display: block;
    }
    .header a
    {
        text-align:center;
    }
    .pure-menu
    {
        text-align:center;
    }
    .pure-menu-link
    {
        padding: 1em;
    }
    .hello-p-1
    {
        text-align: center;
    }
    .line-hello-1
    {
        display: none;
    }
    .line-hello-right
    {
        display: none;
    }
    .hello
    {
        text-align: center;
    }
    .bottom-part-hello-right
    {
        text-align: center;
        margin-top: 2em;
        margin-left: 0%;
    }
    .border-p-1
    {
        border: none;
    }
    .border-p-2
    {
        border: none;
    }
    .border-p-2 span
    {
        color: #fff;
        
    }
    .ask-border
    {
        border: none;
    }
    .choice-content div
    {
        text-align: center;
    }

    .button-choice-2 button
    {
       margin-left: 0em;
    }
    .ask-content
    {
        display: none;
    }
    .modal
    {
        display: none;
    }
    .social
    {
        position: absolute;
        bottom: 5em;
        right: 0.5em;
        opacity: 0.7;
    }
    .text-sight-position
    {
        text-align: center;
    }
    .find-me-p
    {
        padding-left: 0;
        margin:0 0.5em;
    }
    
}
@media (max-height: 568px)
{   
    .hello-p-1
    {  
        font-size: 100%;
    }
    .hello-p-2
    {
        font-size: 50%;
    }
    .border-p-1
    {
        margin-top: -2em;

    }
    .border-p-2
    {
        margin-top: -2em;
    }
}
@media (min-width: 1024px) and (min-height: 1366px)
{
    .hello , .hello-right
    {
        font-size: 120%;
    }
    .ask-content
    {
        font-size: 140%
    }
}
@media (min-height: 1024px) and (min-width: 1366px)
{
    .ask-content
    {
        font-size: 150%
    }
}

@media(max-width: 863px)
{
    .choice-content
    {
        margin-top: -1em;
    }
}
@media(max-width: 450px) and (max-height: 750px)
{
    .choice-content
    {
        font-size: 80%;
        margin-top: 1em!important;
    }
    .border-p-2
    {
        margin-top: -2em;
    }
    .choice-content button
    {
        font-weight: bold;
        border: 1.1px solid #000;
    }
    .border-p-2 span
    {
        color: #000;
    }
}
@media(max-width: 750px) and (max-height: 450px)
{
    .choice-content
    {
        font-size: 50%;
        margin-top: -4em;
    }
    .choice-button-1
    {
        margin-left: 80%;
    }
    .choice-button-2
    {
        margin-right: 80%;
    }


}
@media(max-width: 568px) and (max-height: 320px)
{
    .choice-content
    {
        font-size: 50%;
        margin-top: -8em;
    }
    .choice-button-1
    {
        margin-left: 30%;
    }
    .choice-button-2
    {
        margin-right: 30%;
    }
    .border-p-2
    {
        font-size: 200%;
    }
}
@media(max-height: 568px) and (max-width: 320px)
{
    .choice-content
    {
        font-size: 50%;
        margin-top: 2em;
    }
    .border-p-2
    {
        font-size: 200%;
    }
    .choice-button-1
    {
        margin-left: 50%;
    }
    .choice-button-2
    {
        margin-right: 50%;
    }
}
@media (max-width: 767.999px) and (min-height: 400px)
{
    .choice-content
    {
        margin-top: 4em;
    }
}